{% extends "base.html" %}

{% block main %}
    <table>
        <tr>
            <th>Maori</th>
            <th>English</th>
            <th>Date added</th>
        </tr>
         <tbody>
            {% for vocab in vocab_list %}
                {% if vocab[3] == cat_id %}
                    <tr>
                        <td><a href="/word/{{ vocab[0] }}">{{ vocab[1] }}</td>
                        <td>{{ vocab[2] }}</td>
                        <td>{{ vocab[7] }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

