{% extends "base.html" %}

{% block main %}
    <table>
        <tr>
            <th>Maori</th>
            <th>English</th>
            <th>Date added</th>
        </tr>
         <tbody>
            {% for content in contents %}
                {% if content[3] == cat_id %}
                    <tr>
                        <td><a href="/word/{{ content[0] }}">{{ content[1] }}</a></td>
                        <td>{{ content[2] }}</td>
                        <td>{{ content[7] }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>